p.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
p.song{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
p.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.direction:hover{
     font-family: 'Times New Roman', Times, serif;
     font-size: medium;
     color: blueviolet;
     background-color: brown;
}
h6.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black ;
}
.QUEEN{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:darkblue;
    background-color:azure;
   
}
.QUEEN:hover{

   font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:darkmagenta;
    background-color:darkgray;
    text-shadow:2px 2px 2px  mintcream ;
}

.LEILA{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:darkmagenta;
    background-color:aliceblue;
   
}
.LEILA:hover{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:blue;
    background-color:hotpink;
    text-shadow:2px 2px 2px  ivory;
   
}
.FLETA{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:blanchedalmond;
    background-color: olive;
  
}
.FLETA:hover{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:crimson;
    background-color:antiquewhite;
    text-shadow:2px 2px 2px  cyan;
   
}
.CELIA{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: darkorange;
    background-color:wheat;
    
}
.CELIA:hover{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:chartreuse;
    background-color:snow;
    text-shadow:2px 2px 2px  deepskyblue;
    
   
}

.table{
    border: 5px;
    border-style: dashed;
    color: darkblue;
    text-align: center;
    background-color: beige;
    padding: 2px;
    margin: 1px;
}
tr:nth-child(odd){
    background-color: aquamarine;
}

h6.name:hover,
h6.name:active {
    text-shadow: 3px 3px 3px rgb(32, 196, 149);
    border: 2px;
    border-color:aqua;
    border-style: solid;
}